 <nav class="navbar navbar-expand-lg navbar-light header">
    <img src="https://res.cloudinary.com/dpkbckolo/image/upload/v1569160195/sebrae.svg" class="logo">
    <span class="header-text">
        Dados de clientes
        <%= link_to destroy_user_session_path, method: :delete, class: 'text-white' do %>
          <i class="material-icons user-icon">person</i>
        <% end %>
    </span>
</nav>
