<!doctype html>
<html lang="en">



<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <title>Data analytics</title>
</head>

<style type="text/css">
    body {
        font-family: Helvetica !important;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        padding: 6px 0px;
        border-radius: 15px;
        text-align: center;
        font-size: 12px;
        line-height: 1.42857;
        background-color: #1b7abb;
        color: white;
    }

    .btn-icon {
        line-height: 0.7;
    }

    .header {
        background-color: #1b7abb;
        color: white;
        padding: 0px;
    }

    .logo {
        width: 6%;
        margin-left: 120px;
    }

    .header-text {
        text-align: center;
        width: 100%;
        position: absolute;
    }

    .content-grouper {
        margin: 0 30px 0 30px;
    }

    .content-table {
        margin: 12px 0 12px 0;
    }

    .input-division {
        width: calc(20% - 15px);
        margin-right: 15px;
    }

    .user-icon {
        display: block;
        float: right;
        margin-right: 30px;
    }

    .ze-big-balls {
        width: 40px;
        height: 40px;
        border-radius: 40px;
    }

    .icon-of-big-balls {
        font-size: 30px;
        margin-top: 2px;
    }

    .search-button {
        background-color: #CB6339;
    }


    td>.btn-circle {
        background-color: transparent;
        border: none;
    }

    td>.btn-circle>i {
        color: black;
    }

    .modal-division {
        margin-left: 6px;
        margin-right: 6px;
    }

    form {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    label {
        vertical-align: top;
    }
</style>

<body>
    <div class="content-grouper">
        <form class="form-inline" action='/establishments' method='get'>
            <div class="form-group col-lg-2 col-md-4 col-sm-6">
                <label for="filter-name">CNPJ</label>
                <input type="text" class="form-control" id="filter-name" style="width:100%;">
            </div>
            <div class="form-group col-lg-2 col-md-4 col-sm-6">
                <label for="city-filter">Tipo</label>
                <input type="text" class="form-control" id="city-filter" name="establishment[step]" style="width:100%;">
            </div>
            <div class="form-group col-lg-2 col-md-4 col-sm-6">
                <label for="neighborhood-filter">Nome</label>
                <input type="text" class="form-control" id="neighborhood-filter" name="establishment[fantasy_name]" style="width:100%;">
            </div>
            <div class="form-group col-lg-2 col-md-4 col-sm-6">
                <label for="email-filter">Cidade</label>
                <input type="text" class="form-control" id="email-filter" name="establishment[city]" style="width:100%;">
            </div>
            <div class="form-group col-lg-2 col-md-4 col-sm-6">
                <label for="level-filter">Nível</label>
                <select class="form-control" id="level-filter" style="width:100%;">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group col-lg-2 col-md-4 col-sm-6">
                <button type="submit" class="btn btn-circle btn-lg ze-big-balls search-button"
                    style="margin-right: 15px;" data-toggle="tooltip" data-placement="top" title="Pesquisar">
                    <i class="material-icons btn-icon icon-of-big-balls">search</i>
                </button>
                <%= link_to new_establishment_path do %>
                  <button type="button" class="btn btn-circle btn-lg ze-big-balls" data-toggle="tooltip"
                      data-placement="top" title="Adicionar Estabelecimento" style="margin-right: 15px;">
                      <i class="material-icons btn-icon icon-of-big-balls">add</i>
                  </button>
                <% end %>
                <button type="button" class="btn btn-circle btn-lg ze-big-balls" data-toggle="tooltip"
                    data-placement="top" title="Importar">
                    <i class="material-icons btn-icon icon-of-big-balls">save_alt</i>
                </button>
            </div>
        </form>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">CNPJ</th>
                        <th scope="col">Nome Fantasia</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Rua</th>
                        <th scope="col">Número</th>
                        <th scope="col">Bairro</th>
                        <th scope="col">Cidade</th>
                        <th scope="col">Fone</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Whatsapp</th>
                        <th scope="col">Nível</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                  <%= render partial: "establishment", collection: @establishments %>
                </tbody>
            </table>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="observation-modal" tabindex="-1" role="dialog" aria-labelledby="observation-title"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <form>
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="observation-title">Observações</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col">
                                    Nome Fantasia
                                </div>
                                <div class="col">
                                    Cidade
                                </div>
                                <div class="col">
                                    Data
                                </div>
                            </div>
                            <div class="row">
                                <input type="text" class="form-control modal-division col" id="name-filter"
                                    readonly="true" />
                                <input type="text" class="form-control modal-division col" id="name-filter"
                                    readonly="true" />
                                <input type="date" class="form-control modal-division col" id="name-filter"
                                    readonly="true" />
                            </div>
                            <div class="form-group" style="margin-top: 10px">
                                <label for="observation-area">Observações</label>
                                <textarea class="form-control" id="observation-area" readonly="true"
                                    rows="8"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="./js/bootstrap.min.js"></script>
</body>
<script>
    $('[data-toggle="tooltip"]').tooltip()
</script>

</html>
